@font-face {
   font-family: "Arial Rounded MT Bold";
   src: url("fonts/Arial Rounded MT Bold.woff") format("woff"), url("fonts/Arial Rounded MT Bold.eot") format("embedded-opentype"), url("fonts/Arial Rounded MT Bold.ttf") format("truetype"), url("fonts/Arial Rounded MT Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Avenir Next Medium";
   src: url("fonts/Avenir Next Medium.woff") format("woff"), url("fonts/Avenir Next Medium.eot") format("embedded-opentype"), url("fonts/Avenir Next Medium.ttf") format("truetype"), url("fonts/Avenir Next Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}